@import 'tailwindcss';

@font-face {
  font-family: 'junge';
  font-weight: normal;
  src: url(../assets/fonts/junge-regular-webfont.woff2);
}

@theme {
  /* Fonts */
  --font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-junge: 'junge', arial, sans-serif;

  /* Colors */
  --color-sand-beige-light: #e8e5d9;
  --color-sand-beige: #b4aa82;
  --color-sand-beige-dark: #908868;
  --color-pink: #ff819f;
  --color-blooming-dahlia: #e99784;
  --color-gold: #daab73;
}

@utility site-bg-image {
  background-image: url('../assets/background.png');
}

@utility dialog {
  @apply border-sand-beige mx-auto my-auto rounded-2xl border-3 backdrop:bg-white/40;
}