@import 'tailwindcss';

@font-face {
  font-family: 'junge';
  font-weight: normal;
  src: url(../assets/fonts/junge-regular-webfont.woff2);
}

@theme {
  /* Fonts */
  --font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-junge: 'junge', arial, sans-serif;

  /* Colors */
  --color-pink: #ff819f;
  --color-gold: #daab73;
  --color-sand-beige: #b4aa82;
  --color-sand-beige-light: #e8e5d9;
  --color-sand-beige-dark: #908868;
  --color-blooming-dahlia: #edab9b;
  --color-blooming-dahlia-light: #f8e1dc;
  --color-blooming-dahlia-dark: #d18776;
}

@utility site-bg-image {
  background-image: url('../assets/background.png');
}

@utility main-content-container {
  @apply text-sand-beige-dark md:border-sand-beige w-full max-w-4xl md:rounded-3xl md:border-3 md:bg-white/40 md:px-10 md:pt-5 md:pb-8;
}

@utility dialog {
  @apply border-sand-beige mx-auto my-auto rounded-2xl border-3 backdrop:bg-white/40;
}

@utility primary-button {
  @apply bg-sand-beige-light text-sand-beige-dark border-sand-beige-dark hover:bg-sand-beige rounded-md border-2 hover:text-white;
}

@utility secondary-button {
  @apply border-blooming-dahlia-dark text-blooming-dahlia-dark bg-blooming-dahlia-light hover:bg-blooming-dahlia rounded-md border-2 hover:text-white;
}
